/*----------------------------------------------*\
    COMPONENTS
    ==========

    @package ashleighkawaoka

\*----------------------------------------------*/


/* 
 *
 * / Variables
------------------------------------------------*/

/* Colors */


/* Breakpoints */
$x-small: 23rem; /* 368px, bigger phones */
$small: 35rem; /* 560px */
$medium: 50rem; /* 800px */
$large: 63rem; /* 1008px, tablet vertical */
$x-large: 75rem; /* 1200px */
$xx-large: 90rem; /* 1440px, desktop */